# Example of what should be in the apptoken.dat file
# Put here the application token provided by Toodledo
# and be sure to remove any trailing carriage return or white space after it
api4e123456789ab
